// input
$input-height: 32px;
// button
$button-height: 32px;
$button-bg: white;
$button-active-bg: #eee;

$border-color: #999;
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow: 0 2px 10px rgba(0,0,0,0.1);
$box-shadow-color: rgba(0,0,0,0.5);

$font-size: 14px;
$color: #333;
$red: #F1453D;
